<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="favicon.ico">
    {% if page.use_math %}
    {% include mathjax_support.html %}
    {% endif %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

	  <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>


          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/research">Research</a>
            <a href="{{ site.baseurl }}/cv">CV</a>
            <a href="{{ site.baseurl }}/teaching">Teaching</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper">
    <div class="wrapper-footer">
        <footer class="footer">
		<font color="#ffffff">
			<p>&copy; {{ site.time | date: '%Y' }} by {{ site.name }} <small> (she/her) </small> </p>
			<p>Last Updated: Jan 2025 </p>
		</font>
        </footer>
    </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
